@tailwind base;
@tailwind components;
@tailwind utilities;

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

@layer components {
  .max-width-wrapper {
    @apply mx-auto w-full max-w-screen-xl px-2.5 md:px-20;
  }
  .main-container {
    @apply flex flex-col justify-center items-center min-h-screen font-sans;
  }
  .btn {
    @apply border-2 border-darkOrange dark:border-lightTeal text-gray-200 rounded-md tracking-tight flex-center space-x-1;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .border-hover {
    @apply hover:border-darkOrange border-white dark:border-black hover:dark:border-lightTeal transform duration-500;
  }
  .text-hover {
    @apply hover:text-darkOrange  hover:dark:text-lightTeal transform duration-500;
  }
  .btn-hover {
    @apply hover:bg-orange-700 dark:hover:bg-darkTeal;
  }

  .bg-color {
    @apply bg-darkOrange dark:bg-lightTeal;
  }

  .text-color {
    @apply text-darkOrange dark:text-lightTeal;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    @apply w-[24px] h-[2px] absolute top-0 left-0 transform transition-all rotate-0 duration-200 bg-darkOrange dark:bg-lightTeal;
  }
  .open-ham {
    @apply transform rotate-90;
  }
  .open-ham .hamburger-middle {
    @apply hidden;
  }
  .open-ham .hamburger-top {
    @apply -rotate-45 translate-y-[13px];
  }
  .open-ham .hamburger-bottom {
    @apply rotate-45;
  }
}
